body {
  --main-color: #e5e5e5;
  --text-color: #8c8988;
  width: 100vw;
}

* {
  box-sizing: border-box;
  transition-duration: 0.7s;
}

.wrapper {
  width: 100%;
  max-width: 38rem;
  margin: 0 auto;
}

.accordion {
  width: 100%;
}

.accordion:hover,
.accordion-item__label:hover {
  cursor: pointer;
}

.accordion:hover .accordion-item__icon {
  display: block;
}

.accordion-item__image {
  max-width: 13rem;
  display: block;
  margin: 0 auto;
}

.accordion-item__label {
  color: var(--text-color);
  /* padding: 0.75rem; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-top: 0.0625rem solid var(--main-color);
}

.accordion-item__header {
  padding: 0;
  margin: 0;
}

.accordion-item__icon {
  display: none;
  width: 1.5rem;
  transform: rotate(45deg);
}

.accordion-item__input {
  display: none;
}

.accordion-item__label:hover ~ .accordion-item__content {
  display: block;
}

.accordion-item__input:checked ~ .accordion-item__content {
  display: block;
}

.accordion-item__input:checked ~ .accordion-item__label .accordion-item__icon {
  transform: rotate(0);
}

.accordion-item__input:hover ~ .accordion-item__label .accordion-item__icon {
  transform: rotate(0);
}

.accordion-item__content {
  display: none;
  padding-bottom: 0.75rem;
}
