body {
  --main-color: #e5e5e5;
  --text-color: #8c8988;
  --black-color: #000000;
  --red-color: #ff4000;
  font-family: 'Montserrat', sans-serif;
}

* {
  box-sizing: border-box;
}

.wrapper {
  width: 100%;
  max-width: 38rem;
  margin: 0 auto;
}

.accordion {
  width: 100%;
}

.accordion-item__label:hover {
  cursor: pointer;
}

.accordion:hover .accordion-item__header {
  color: var(--black-color);
}

.accordion-item__label:active .accordion-item__header {
  color: var(--red-color);
}

.accordion-item__label:active .accordion-item__icon {
  fill: var(--red-color);
  stroke: var(--red-color);
}

.accordion-item__label:active {
  transition-duration: 0.5s;
  filter: brightness(1.3);
}

.accordion:hover .accordion-item__icon {
  opacity: 1;
  transition-duration: 0.7s;
}

.accordion-item__image {
  display: block;
  margin: 0 auto;
  width: 10rem;
  transition-duration: 0.3s;
  opacity: 0;
}

.accordion-item__label {
  color: var(--text-color);
  padding: 0.75rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-between;
  flex-wrap: wrap;
  width: 100%;
  border: 0.0625rem solid var(--main-color);
  border-bottom: none;
}

.accordion-item__label:last-child {
  border-bottom: 0.0625rem solid var(--main-color);
}


.accordion-item__header {
  padding: 0;
  margin: 0;
}

.accordion-item__icon {
  opacity: 0;
  transition-duration: 0.7s;
  width: 1.5rem;
  transform: rotate(45deg);
  transition-duration: 1s;
  stroke: black;
}

.accordion-item__input {
  display: none;
}


.accordion-item__input:checked ~ .accordion-item__label .accordion-item__icon {
  transform: rotate(0);
  transition-duration: 0.7s;
}

.accordion-item__input:hover ~ .accordion-item__label .accordion-item__icon {
  transform: rotate(0);
  transition-duration: 1s;
}

img.accordion-item__image {
  width: 0;
  transition-duration: 0.7s;
}

label.accordion-item__label:hover img {
  width: 13rem;
  opacity: 1;
  transition-duration: 0.7s;
}

.accordion-item__input:checked ~ label.accordion-item__label img.accordion-item__image {
  width: 13rem;
  opacity: 1;
  transition-duration: 0.7s;
}

.accordion-item__input:checked ~ label.accordion-item__label {
  color: var(--black-color);
}

.accordion-item__container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0.75rem;
}