body {
  --main-color: #e5e5e5;
  --text-color: #8c8988;
}

* {
  box-sizing: border-box;
}

.wrapper {
  width: 100%;
  max-width: 38rem;
  margin: 0 auto;
}

.accordion {
  width: 100%;
}

.accordion:hover,
.accordion-item__label:hover {
  cursor: pointer;
}

.accordion:hover .accordion-item__icon {
  opacity: 1;
  transition-duration: 0.7s;
}

.accordion-item__image {
  display: block;
  margin: 0 auto;
  width: 10rem;
  transition-duration: 0.3s;
  opacity: 0;
}

.accordion-item__label {
  color: var(--text-color);
  padding: 0.75rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-top: 0.0625rem solid var(--main-color);
}

.accordion-item__header {
  padding: 0;
  margin: 0;
}

.accordion-item__icon {
  opacity: 0;
  transition-duration: 0.7s;
  width: 1.5rem;
  transform: rotate(45deg);
  transition-duration: 1s;
}

.accordion-item__input {
  display: none;
}

.accordion-item__input:checked ~ .accordion-item__content {
  max-height: 20rem;
  transition-duration: 0.7s;
}

.accordion-item__input:hover ~ .accordion-item__content {
  max-height: 1000vh;
  transition-duration: 0.7s;
}

.accordion-item__input:checked ~ .accordion-item__content .accordion-item__image {
  transition-duration: 0.7s;
  opacity: 1;
  width: 20rem;
}

.accordion-item__input:hover ~ .accordion-item__content .accordion-item__image {
  transition-duration: 0.7s;
  opacity: 1;
  width: 20rem;
}

.accordion-item__input:checked ~ .accordion-item__label .accordion-item__icon {
  transform: rotate(0);
  transition-duration: 0.7s;
}

.accordion-item__input:hover ~ .accordion-item__label .accordion-item__icon {
  transform: rotate(0);
  transition-duration: 1s;
}

.accordion-item__content {
  max-height: 0;
  padding-bottom: 0.75rem;
  transition-duration: 0.7s;
}